._Checkout {
  position: relative;
  width: 100%;
  height: auto;
  padding: 4rem 0rem;

}

._Checkout .container-fluid {
  width: 90%;
  height: 100%;
  padding: 4rem 0rem;
}

._Checkout .container-fluid ._CheckoutTitle {
  width: 100%;
  height: auto
}

._Checkout .container-fluid ._CheckoutTitle h3 {
  width: 100%;
  text-align: left;
  font-size: 1.7rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--color-balck);
}

._Checkout .container-fluid .checkout-container {
  width: 100%;
  background-color: #f7f6f7;
  margin-bottom: 1rem;
  padding: 1rem;
  border-top: 2px solid var(--color-green)
}

._Checkout .container-fluid .checkout-container .coupon-header {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--color-balck);
}

._Checkout .container-fluid .checkout-container .coupon-header .coupon-link {
  color: var(--color-green);
  cursor: pointer;
}

._Checkout .container-fluid ._Coupon {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

._Coupon ._BtnShop,
._FormContent ._BtnShop {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
}

._Coupon ._BtnShop button,
._FormContent ._BtnShop button {
  background-color: var(--color-green);
  border-radius: 0.4rem;
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  min-width: 0;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  will-change: transform;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border: none;
  outline: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -webkit-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -moz-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -ms-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  -o-transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);

}
._FormContent ._BtnShop button {
  width: 100%;
}
._Coupon ._BtnShop button:hover,
._FormContent ._BtnShop button:hover {
  background-color: transparent;
  outline: 1px solid var(--color-black);
  color: var(--color-black);
}

._FormContent {
  width: 100%;
}

._FormContent select:focus,
._FormContent input:focus,
._FormContent textarea:focus,
._Coupon input:focus {
  outline: none;
  box-shadow: none;
}

.sticky-top {
  z-index: 0 !important;
}

@media (max-width: 576px) {
  .coupon-input-wrapper {
    margin-left: 0 !important;
    flex-direction: column;
    gap: 0.5rem;
  }

  .coupon-input-wrapper label,
  .coupon-input-wrapper input,
  .coupon-input-wrapper button {
    width: 100% !important;
    flex-grow: 0 !important;
  }

  .coupon-input-wrapper button {
    white-space: normal !important;
  }
}